<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>
<body>
<div class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/user/cabinet">Cabinet</a>
            </li>
            <li class="nav-item" style="position: absolute; right: 0">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</div>
<br>
<h2 align="center">World wide money transfer service</h2>
<br>
<h4 align="center">Sign up and get $1000 on your account!</h4>
<br>
<h4 align="center">To continue <a href="/login">login</a></h4>
</body>
</html>